.btn-click{
    background-color:  #f33f3f;
    border: 2px solid #f33f3f;
    padding: 0.3rem;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-left: 3.5rem;
    width: 15rem;
    /* border-radius: 0.4rem; */
    
    font-weight: bold;
    color: #ffffff;
    box-shadow: 1px 1px 1px 0px rgb(245, 19, 19);
}
.btn-click:hover{
    background-color: black;
    border: 2px solid black;
    box-shadow: 1px 1px 1px 0px black;
}

